1.	Wypisz liczby od 1 do 20.

In [1]:
for i in range(1,21):
  print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20

2.	Wypisz wszystkie liczby parzyste od 2 do 50.

In [2]:
for i in range(2,51):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40
42
44
46
48
50

3.	Oblicz sumę liczb od 1 do 100.

In [4]:
suma = 0
for i in range(1,100):
  suma = suma+i
print(suma)

4950

4. Wypisz liczby od 1 do 20, ale dla wielokrotności 3 wypisz "Fizz".

In [5]:
for i in range(1,21):
  if i%3==0:
    print("Fizz")
  else:
    print(i)

1
2
Fizz
4
5
Fizz
7
8
Fizz
10
11
Fizz
13
14
Fizz
16
17
Fizz
19
20

Dla listy ["jabłko", "banan", "gruszka"] wypisz każdy element z numerem pozycji (indeks).

In [8]:
lista = ["jabłko", "banan", "gruszka"]
for numer,owoc in enumerate(lista):
  print(numer, owoc)

0 jabłko
1 banan
2 gruszka

In [11]:
lista = ["jabłko", "banan", "gruszka"]
for i in range(len(lista)):
  print(i, lista[i])

0 jabłko
1 banan
2 gruszka

5. Dla listy liczb wypisz tylko te, które są większe od średniej wszystkich liczb w liście.

In [8]:
lista = input("Podaj liczby oddzielone spacją: ")
lista1=[int(x) for x in lista.split()]
if len(lista1) == 0:
    print("Nie ma liczb")
else:
    suma = sum(lista1)
    srednia = suma / len(lista1)

    print("Suma:", suma)
    print("Średnia:", srednia)

    print("Liczby większe od średniej:")
    for x in lista1:
        if x > srednia:
            print(x)

Podaj liczby oddzielone spacją: 0 -1 -2 4 5
Suma: 6
Średnia: 1.2
Liczby większe od średniej:
4
5

6. Narysuj prostokąt z gwiazdek * o wymiarach podanych przez użytkownika (np. 5x3).

In [9]:
szerokosc = int(input("Podaj szerokość: "))
wysokosc = int(input("Podaj wysokość: "))

for i in range(wysokosc):
    print("*" * szerokosc)

Podaj szerokość: 5
Podaj wysokość: 4
*****
*****
*****
*****